.logo-image{
    width: 70px;
    height: 70px;
}

.navigacija{
    height: 50px;
    background-color: rgb(160, 215, 255);
}

.slika{
    height: 50px;
    background-color: rgb(160, 215, 255);
}

